doctype html
html
  head
    title  Rajput Music Academy
    block scripts
    block style 
  body
   nav#navbar

        ul
            div#logo
                img(src="/static/sponsorimg2.png", alt="")
                |Rajput
            li #[a(href="/") About]
            li #[a(href="/") Home]
            li #[a(href="/") Services]
            li #[a(href="/contact") Contact us]
  block content
  footer#footer
    div @copyright Music academy By P_S Rajput.