extends base.pug
block scripts
  script(src='/views/index.js')
block style 
  style 
   include ../static/style.css
block content 
 

  section#introSection
        div  Welcome To India's No.1 Music PlateForm.
        div Live in Music.