<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rajput music company and academy</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <nav id="navbar">
        <ul>
            <div id="logo">
                <img src="" alt="">
            </div>
            <li ><a href="/">Home</li></a>
            <li ><a href="/"></a>About</a>
            <li ><a href="/"></a>Servi</a>
            <li ><a href="/"></a>Join </a>
        </ul>
    </nav>
    <section id="introSection">
        <div>
            Welcome To India's No. 1 Music PlatForm.
            Where Dreams Comes True.
        </div>
        <div>
            Rajput music Academy Always Try To provide A good guidance and Facility top all Students.
        </div>

    </section>
    <section id="sponsorsSection">
        <h2>Our Sponsors worldWide.</h2>
    </section>
    <section id="mission">
        <h2>Our Mission.</h2>
    </section>
    <footer id="footer">
        
    </footer>
    
</body>
</html>