html 
  head 
    title Rajput Dance Academy
    style
      include ../static/style.css 
  body 
    nav#navbar 
      
        ul 
            div#logo
                img(src="/static/sponsorimg2.png", alt="")
                |Rajput
            li #[a(href="/") About] 
            li #[a(href="/") Home] 
            li #[a(href="/") Services] 
            li #[a(href="/") Contact us]

    section#introSection
        div  Welcome To India's No.1 Music PlateForm.
        div Live in Music.
        div pushpender_singh_rajput
    
    footer#footer 
        div @copyright Music academy By P_S Rajput.